*{
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   padding: 0;
   margin: 0;

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
   --PColor: #003E52;
   --SColor: #101010;
}

body{
   background-color: var(--SColor);
}

h1{
   color: var(--PColor);
}

a.router-link-exact-active,
li{
   font-size: 16pt;
}

p{
   font-size: 14pt;
}

.presentacion, .sMi, .plats, .contactos{
   height: 100vh;
}

/* Todos los contenedores de todas las imágenes */
.imgCont{
   position: relative;
   overflow: hidden;
}

.imgCont > img{
   position: absolute;
   object-fit: cover;
   width: 100%;
   height: 100%;
}