/* All */
*{
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   padding: 0;
   margin: 0;

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
   --PColor: #003E52;
   --SColor: #101010;
   --TXTColor: #ffffff;

   --size-p: 14pt;
   --size-a_li: 16pt;
}

body {
   background-color: var(--SColor);
}

h1:not(.link) {
   color: var(--PColor);
}

h1.link > a {
   opacity: 0;
   text-decoration: none;
   color: var(--TXTColor);
}

h1.link:hover > a, .titleSect:hover > h1.link > a {
   opacity: 1;
}

a.router-link-exact-active,
li {
   font-size: var(--size-a_li);
}

p {
   font-size: var(--size-p);
}

.presentacion, .sMi, .plats, .contactos{
   height: 100vh;
   position: relative;
   display: flex;
}

.titleSect {
   display: flex;
   padding-right: 15px;
   gap: 15px;
   align-items: center;
}

/* Todos los contenedores de todas las imágenes */
.imgCont{
   position: relative;
   overflow: hidden;
}

.imgCont > img,
.imgCont > div{
   position: absolute;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

/* Animaciones */
h1.link,
h1.link > a,
.titleSect {
   transition: all 0.5s ease-out;
}

/* Responsive */
@media (max-width: 800px){
   h1.link > a {
      opacity: 1;
   }
}