/* Todo */
nav, nav > ul{
    width: 100%;
}

nav, 
nav > ul,
nav > .logos,
.iconMenu{
    display: flex;
    align-items: center;
}

nav > ul{
    justify-content: flex-end;
}

.iconMenu,
nav > ul > li > .modo > span{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Menu */
.imo {
    top: 0;
    left: 0;
}

nav, .imo {
    z-index: 99999;
    position: fixed;
}

nav > .logos {
    gap: 5px;
}

nav > .logos > a.router-link-exact-active > .imgCont,
nav > .logos > .modo,
.iconMenu{
    width: 60px;
    height: 60px;
}

.iconMenu {
    cursor: pointer;
    justify-content: center;
}

.iconMenu > span{
    color: var(--PColor);
    font-size: 42pt;
    position: absolute;
}

nav > ul > li{
    margin-right: 5px;
    list-style: none;
}

nav > .logos > .modo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav > .logos > .modo > span{
    padding: 10px 15px;
    font-size: 28pt;
    color: var(--PColor);
    position: absolute;
    cursor: pointer;
}

nav > .logos > .modo > .dark {
    z-index: 0;
    opacity: 0;
}

nav > .logos > .modo > .light {
    z-index: 1;
}

nav > ul > li > a.router-link-exact-active{
    display: inline-block;
    color: var(--PColor);
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* Todas las transiciones */
.iconMenu,
nav > .logos .modo > span,
nav > ul > li > a{
    transition: all 0.3s ease-in-out;
}

.iconMenu:hover,
nav > ul > li > a:hover,
nav > .logos > .modo:hover{
    background-color: var(--PColor);
}

nav > .logos > .modo > span:hover{
    color: var(--SColor);
}

.iconMenu:hover > span,
nav > ul > li > a:hover {
    color: #fff;
}

@media (max-width: 800px){
    nav {
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    nav, nav > ul {
        height: 100%;
        flex-direction: column;
    }

    nav > .logos {
        width: 100%;
    }

    nav > ul {
        gap: 0;
        justify-content: flex-start;
    }

    nav > ul > li {
        width: 100%;
    }

    nav > ul > li > .modo > span,
    nav > ul > li > a.router-link-exact-active{
        padding: 10px;
        width: 100%;
    }
    
    .iconMenu,
    nav > .logos > .modo > span,
    nav > ul > li > a {
        transition: none 0s ease;
    }

    .iconMenu:hover,
    nav > ul > li > a:hover,
    nav > .logos > .modo:hover {
        background-color: transparent;
    }
}