/* Todo */
nav, nav > ul{
    width: 100%;
}

nav, 
nav > ul,
nav > .logos,
.iconMenu{
    display: flex;
    align-items: center;
}

nav > ul{
    justify-content: flex-end;
}

.iconMenu,
nav > ul > li > .modo > span{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Menu */
.imo {
    top: 0;
    left: 0;
}

nav, .imo {
    z-index: 99999;
    position: fixed;
}

nav > .logos {
    gap: 5px;
}

nav > .logos > a.router-link-exact-active > .imgCont,
.iconMenu{
    width: 60px;
    height: 60px;
}

.iconMenu {
    cursor: pointer;
    justify-content: center;
}

.iconMenu > span{
    color: var(--PColor);
    font-size: 42pt;
    position: absolute;
}

nav > ul > li{
    margin-right: 5px;
    list-style: none;
}

nav > ul > li > .modo > span{
    padding: 10px 15px;
    font-size: 28pt;
    color: var(--PColor);
}

nav > ul > li > a,
nav > ul > li > a.router-link-exact-active{
    color: var(--PColor);
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
}

.iconMenu:hover,
nav > ul > li > a:hover,
nav > ul > li > a.router-link-exact-active:hover,
nav > ul > li > .modo:hover{
    background-color: var(--PColor);
}

nav > ul > li > .modo > span:hover{
    color: var(--SColor);
}

.iconMenu:hover > span,
nav > ul > li > a:hover,
nav > ul > li > a.router-link-exact-active:hover {
    color: #fff;
}

/* Todas las transiciones */
.iconMenu,
nav > ul > li > .modo > span,
nav > ul > li > a,
nav > ul > li > a.router-link-exact-active{
    transition: all 0.3s ease-in-out;
}